@import 'tailwindcss';
@import '@nuxt/ui';
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-eerie-black: #151515;
  --color-highlight: #f25322;
  --color-additional-text: #b8b8a2;
}

@layer theme {
  :root {
    --ui-primary: #f25322 !important;
    --ui-bg: #dcd0c0;
    --main-bg: #f0f0f0;
  }

  .dark {
    --ui-bg: #151515;
    --main-bg: #262626;
    --ui-text-muted: #b8b8a2;
    --ui-text-toned: #b8b8a2;
  }
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply text-eerie-black transition-colors duration-300 dark:text-white;
    background-color: var(--ui-bg);
  }
}

@layer components {
  .section-nav-active::after {
    background-color: #f25322 !important;
  }

  .main-bg {
    background-color: var(--main-bg);
    transition: background-color 300ms;
  }

  .page-section {
    @apply mx-auto min-h-screen max-w-6xl scroll-mt-36 px-6 py-6 my-6;
    /* background-color: var(--ui-bg); */
    /* border: 2px solid var(--ui-primary); */
    /* border-radius: 12px; */
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--ui-primary);
    font-style: normal;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font: 1em;
    text-transform: capitalize;
  }
  h1 {
    font-weight: 600;
    font-size: 1.4em;
  }
}
